<div class="container content-container">
  <h1>New Repair</h1>

  <%= form_for @repair do |f| %>
    <%= (render '/layouts/errors', klass: @repair) if @repair %>

    <%= render partial: 'form', locals: { f: f } %>

    <%= f.submit 'Create Repair', class: 'btn btn-primary' %>
  <% end %>
</div>
