<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Requested For</th>
    </tr>
  </thead>
    <tr>
      <td><%= @repair.customer.name %></td>
      <td><%= @repair.description %></td>
      <td><%= @repair.requested_for %></td>
      <td>
          <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span> Delete"), repair_path(@repair.id),
          method: :delete, 'data-confirm'=>'Are you sure?', class: "btn btn-default" %>
      </td>
    </tr>
</table>
